<a href="https://colab.research.google.com/github/Tushar724/MARCH-9-/blob/main/Python_test_reattempt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**

In [1]:
class store:
  def __init__(self):
    print('''100/pizza
    20/puffs
    10/coldrink''')
  def total_bill(self):
    self.pizza = int(input("Enter the number of pizza: "))
    self.puffs = int(input("Enter the number of puffs: "))
    self.coldrinks = int(input("Enter the number of coldrinks: "))
    print("Total Bill: ",self.pizza*100+self.puffs*20+self.coldrinks*10)

m = store()
m.total_bill()

100/pizza
    20/puffs
    10/coldrink
Enter the number of pizza: 10
Enter the number of puffs: 12
Enter the number of coldrinks: 5
Total Bill:  1290

**Q2**

In [15]:
enter = int(input("Enter the number of steps: "))
step = int(input("Enter the number of stairs: "))
print("Total steps taken: ")
x= round(enter/step)
print(x)

Enter the number of steps: 13
Enter the number of stairs: 2
Total steps taken:
6

**Q9**

In [16]:
str1 = input("")
str2 = input("")

if sorted(str1)==sorted(str2):
  print("Yes")
else:
  print("No")

hello
lloeh
Yes

**Q8**

In [17]:
arr = [23,22,24,8,9,10]
l2 = []
l2.append(arr[len(arr)-1])
for i in range(len(arr)-1):
  for j in range(i+1,len(arr)):
    if arr[i]>arr[j]:
      res = arr[i]

l2.append(res)
print(l2)

[10, 24]

**Q6**

In [22]:
arr = []
n = int(input())
for i in range(n):
  arr.append(int(input(f'''Enter the {i} index''')))

l1 = [ i for i in arr if i%2==0]
l2 = [i for i in arr if i%2!=0]
print(l1,l2)

5
Enter the 0 index3
Enter the 1 index4
Enter the 2 index1
Enter the 3 index7
Enter the 4 index9
[4] [3, 1, 7, 9]

**Q10**

In [45]:
inp = input()
a = inp.lower()


l1 = [i for i in a if i.isalnum()]
l2 = l1[::-1]
if l1==l2:
  print("Yes")
else:
  print("No")

1 helleh 1 ?
Yes

**Q3.**

In [46]:
days = 5
price = [-39957,-17136,35466,21820,-26711]
init_price = 0
profit = 0
for i in price:
  init_price = init_price+i
  profit = min(profit,init_price)

print(profit)

-57093

**Q4**

In [54]:
n = int(input())
m_k = int(input())
m_p = int(input())
t_k = int(input())
t_p = int(input())

count = 0
while t_k>=0 and t_p>=0:
  if t_k>=m_k:
    t_k = t_k-m_k
    count+=1
  elif t_k<=m_k:
    t_p = t_p-m_p
    count+=1
  elif t_k<=0 and t_p<=0:
    break

print(n-(count-1))

20
2
3
12
12
9

**Q5**

In [2]:
n = int(input())
arr = []
for i in range(n):
  arr.append(int(input()))

sum=0
for i in arr[::3]:
  sum = sum+i
avg = sum/3
if avg>70:
  print("Trainee 1")
else:
  print("Trainee 1 is Unfit")


sum1=0
for i in  arr[2::3]:
  sum1 = sum1+i
avg1 = sum1/3
if avg1>70:
  print("Trainee 2")
else:
  print("Trainee 2 is Unfit")


sum2=0
for i in  arr[3::3]:
  sum2 = sum2+i
avg2 = sum2/3
if avg2>70:
  print("Trainee 3")
else:
  print("Trainee 3 is Unfit")

9
95
92
95
92
90
92
90
92
90
Trainee 1
Trainee 2
Trainee is Unfit

**Q7**